@font-face {
  font-family: mona sans;
  src: url(MonaSans/Mona-Sans.ttf);
}

@font-face {
  font-family: aargh;
  src: url(MonaSans/Aaargh.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: mona sans;
  word-spacing: 2px;
}

a {
  color: black;
  text-decoration: none;
  padding-left: 5px;
}

body {
  color: black;
  background-color: black;
  padding: 20px;
  max-width: 100vw;
}

main {
  display: flex;
  max-width: 98vw;
  max-height: 100vh;
  height: 95%;
  border-radius: 15px;
  overflow-x: hidden;
  background-color: white;
  position: fixed;
  box-shadow: 0 0 20px rgba(154, 154, 154, 0.444);
}

main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.profileBackground {
  height: 20vh;
}

aside {
  width: 50%;
  max-width: 250px; /* Optional: Set a maximum width */
  min-height: 220vh;
  border-right: 1px rgba(128, 128, 128, 0.554) solid;
  padding: 20px;
  h1 {
    font-family: mona sans;
  }
}

.aside_first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.aside_first ul {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;

  li {
    font-family: mona sans;
    font-size: 1.5rem;
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    margin: 10% 0px;
  }
}

.aside_last {
  margin-top: 25%;
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
}

.Contact_Button_email {
  font-family: mona sans;
  background-color: white;
  display: inline-flex;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
  border: 1px gray solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  gap: 5px;
}

.Contact a {
  transition: all 0.05s linear;
}

.Contact a:hover {
  transform: scale(1.02);
}

.Contact_Button_whatsapp {
  font-family: mona sans;
  background-color: #000000;
  color: #ffffff;
  border: 1px gray solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  padding: 0px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-left: 10px;
  margin-right: 15px;
}

.profileCSS {
  display: flex;
  align-items: center;
  text-align: start;
  font-family: mona sans;
}

.profileImage {
  width: 200px;
  height: 200px;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a blackish box shadow */
}

.profileImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileName {
  margin-left: 25px;

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }

  h2 {
    font-size: 22px;
    font-weight: 400;
  }
}

.short_bio {
  margin-top: 0%;
  padding-top: 4%;
  padding-left: 2%;
  padding-bottom: 2%;
  h5 {
    color: gray;
  }
}

hr {
  display: flex;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.About {
  padding: 2%;
  display: flex;
}

.externalLinks {
  margin: 5px 50px 5px 100px;
  max-width: 30vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  height: 100%;

  .location,
  .CV,
  .whatsapp,
  .email {
    max-width: 25vw;
    border: 5px white solid;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    small {
      color: gray;
    }
    h4 {
      font-size: 14px;
      font-weight: 550;
    }
    a {
      color: rgb(25, 25, 25);
      text-decoration: none;
    }
    a:active {
      color: black;
    }
    a:hover {
      color: black;
    }
  }
}

.skill_head {
  margin-left: 2%;
}

.skills {
  display: grid;
  max-width: 81vw;
  padding: 25px;
  margin: 0 auto;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  .type {
    display: flex;
    align-items: center;
  }

  .card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100vw;
    width: 100%;
    border: 1px white solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 2%;
    border-radius: 15px;

    .spinner,
    .spinner2,
    .spinner3,
    .spinner4,
    .spinner5,
    .spinner6 {
      position: relative;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      background: conic-gradient(#0080ff 3.6deg, #e2e2e2 0deg);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .spinner::before,
    .spinner2::before,
    .spinner3::before,
    .spinner4::before,
    .spinner5::before,
    .spinner6::before {
      content: "";
      position: absolute;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
    }
    .spinner-value,
    .spinner-value2,
    .spinner-value3,
    .spinner-value4,
    .spinner-value5,
    .spinner-value6 {
      position: relative;
      font-family: mona sans;
    }
  }
}

@media only screen and (max-width: 1100px) {
  aside {
    display: none;
  }
  .profileBackground {
    height: 22vh;
  }
  .profileImage {
    width: 150px;
    height: 150px;
  }
  .profileCSS {
    h1 {
      font-size: 1.8rem;
    }
    h2 {
      font-size: 1rem;
    }
  }
  .Contact_Button_email {
    width: 150px;
    word-spacing: 0px;

    font-size: 16px;
    img {
      height: 40px;
    }
  }
  .Contact_Button_whatsapp {
    width: 150px;
    word-spacing: 0px;

    font-size: 16px;
    img {
      height: 40px;
    }
  }
  main {
    max-width: 95vw;
  }
}

@media only screen and (max-width: 850px) {
  .About {
    display: block;
    padding: 0px 5% 0px 5% ;
  }

  .externalLinks {
    margin-right: 0px;
    max-width: 100vw;
    padding: 0% 0% 0% 0%;
    margin: 10% 0 5% 0px;

    .location,
    .email,
    .whatsapp,
    .CV {
      max-width: 100vw;
    }
  }
  hr {
    max-width: 90vw;
  }
  .profileBackground {
    max-height: 25h;
    height: 18vh;
    img {
      height: 22vh;
    }
  }
  .profile {
    justify-content: start;
    width: 100vw;
  }
  .profileImage {
    width: 130px;
    height: 130px;
  }
  .profileCSS {
    width: 50vw;
    h1 {
      font-size: 1.6rem;
    }
    h2 {
      font-size: 1rem;
    }
  }
  .Contact {
    max-width: 41.8vw;
    display: flex;
    justify-content: center;
    margin-left: 0%;
    align-items: start;
    padding: 0 5%;
  }
  .Contact_Button_email {
    max-width: 20vw;
    width: 20vw;
    word-spacing: 0px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    img {
      height: 30px;
    }
  }
  .Contact_Button_whatsapp {
    max-width: 20vw;
    width: 20vw;
    word-spacing: 0px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    img {
      height: 30px;
    }
  }
  main {
    display: inline-block;
    max-width: 93vw;
  }
  .skill_head {
    margin: 0px 0px 5% 5%;
  }
  .skills {
    margin: 0%;
    padding: 0% 5% 0 5%;
    gap: 2rem;
    .card {
      justify-content: space-between;
      max-width: 100vw;
      width: 85vw;
      img {
        max-height: 10vh;
      }
      h3 {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .About {
    display: block;
    padding: 0px 5% 0px 5% ;
  }

  .externalLinks {
    margin-right: 0px;
    max-width: 100vw;
    padding: 0% 0% 0% 0%;
    margin: 10% 0 5% 0px;

    .location,
    .email,
    .whatsapp,
    .CV {
      max-width: 100vw;
    }
  }
  hr {
    max-width: 90vw;
  }
  .profileBackground {
    max-height: 25vh;
    height: 19vh;
    img {
      width: 100vw;
    }
  }
  .profile {
    display: block;
    justify-content: start;
    width: 100vw;
  }
  .profileImage {
    max-width: 100vw;
    max-height: 100vh;
    width: 130px;
    height: 130px;
  }
  .profileCSS {
    width: 90vw;
    h1 {
      font-size: 1.6rem;
    }
    h2 {
      font-size: 1.2rem;
    }
  }
  .Contact {
    max-width: 90vw;
    display: flex;
    justify-content: start;
    margin-left: 0%;
    align-items: start;
    padding: 5% 3%;
  }
  .Contact_Button_email {
    max-width: 50vw;
    width: 50vw;
    word-spacing: 0px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    img {
      height: 40px;
    }
  }
  .short_bio{
    padding: 2% 5% 5% 5%;
  }
  .resume{
    font-size: 12px;
  }
  .Contact_Button_whatsapp {
    max-width: 50vw;
    width: 50vw;
    word-spacing: 0px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    img {
      height: 40px;
    }
  }
  main {
    display: inline-block;
    max-width: 93vw;
  }
  .skill_head {
    margin: 0px 0px 5% 5%;
  }
  .skills {
    margin: 0%;
    padding: 0% 5% 0 5%;
    gap: 2rem;
    .card {
      justify-content: space-between;
      max-width: 100vw;
      width: 85vw;
      img {
        max-height: 10vh;
      }
      h3 {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  body{
    padding: 5%;
  }
  .profileBackground{
    max-width: 100vw;
    width: 100vw;
    height: 18vh;
    img{
      width: 100vw;
    }
  }
  main{
    max-width: 90vw;
  }
  .resume{
    padding: 8% 0px;
  }
  .skills{
    max-width: 100vw;
    padding: 0% 2% 0 2%;

  }
  .card{
    padding: 0;
    margin: 0 auto;
  }
}